@font-face {
    font-family: DK-magical;
    src: url('fonts/DK Magical Brush.otf');
}

@font-face {
    font-family: Bravest;
    src: url('fonts/BRAVEST FONT/Bravest.otf');
}

h2,
li {
    font-family: 'Bravest';
}

.banner-homepage {
    background-image: url(img/top-img.jpg);
    width: 100%;
    height: 56vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 10vh;
}

.fan-photo .background {
    width: 100%;
    background-image: url(img/fan-photo.jpg);
    height: 41vh;
    position: relative;
    float: left;
}

.family-photo .background {
    background-image: url(img/PAL-41-of-41.jpg);
    border-radius: 100%;
    position: relative;
    left: -50%;
    height: 350px;
    width: 350px;
    z-index: 2;
    margin-top: 78%;
}

.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.founded-by {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 50%;

}

.founded-by h2 {
    left: -50%;
    color: white;
    position: relative;
    top: 17%;
    width: 100%;
    text-align: center;
}

.banner-homepage h1 {
    font-family: 'DK-magical';
    left: -50%;
    position: relative;
    text-align: center;
    top: 15%;
    width: 100%;
    font-size: 110px;
    color: white;
}

.container {
    width: 63vw !important;
}

.half-vw {
    height: 41vh;
    width: 100%;
    height: 500px;
    overflow: hidden;
}


.statement-homepage {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    height: 43vh;
}

.statement-homepage h2,
.statement-homepage p {
    margin-bottom: 0;
    padding-top: 3vh;
}

.statement-homepage h2 {
    text-transform: uppercase;
    font-size: 30px
}

.statement-homepage p {}

button {
    width: 25%;
    height: 10%;
    border-radius: 20px;
    background: yellow;
    font-weight: bold;
    float: right;
    margin-top: 5%;
    border: 0;
    position:relative;
    z-index:1;
}


.family-photo {
    left: 50%;
    height: 41vh;
    position: absolute;
}

.banner-homepage ul {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    width: 50%;
}

.banner-homepage ul li {
    text-transform: uppercase;
    float: right;
    padding-right: 50px;
    padding-top: 20px;
    position: relative;
    display: inline-block;
}
.homepage-middle {
    height:30vh;
    position:relative;
    top:25vh;
}
.homepage-middle h2 {
    width: 80%;
    text-align: center;
    position:relative;
    margin-top:50%;
    margin:auto;
}
.visit-store {
    height:64vh;
    overflow:hidden;
    width:100%;
    position:relative;
    background-color: black;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    top:15vh;
}
.visit-store .background {
    background-image: url(img/bwl-3.jpg);
    opacity:0.6;
    position:relative;
    width:100%;
    height:100%;
}
.visit-store h2 {
    color:white !important;
    z-index:1;
    position:absolute;
    font-size:64px;
    width:30%;
    text-align: left;
    left:5%;
    top:30%;
}
.visit-store button {
    left:5%;
    position:absolute;
    height:8%;
    top:58%;
    width:
}

.upcoming-events h1 {
    color:grey;
}
