@font-face {
    font-family: DK-magical;
    src: url('fonts/DK Magical Brush.otf');
}

@font-face {
    font-family: Bravest;
    src: url('fonts/BRAVEST FONT/Bravest.otf');
}

h1 {
    font-family: 'DK-magical';
    font-size: 6vmax;
}

h2,
li {
    font-family: 'Bravest';
}

body {
    display: flex;
}

.no-padding {
    padding: 0 !important;
}

.container {
    width: 63vmax !important;
}

p {
    font-size: 2.5vmax;
}

.banner-homepage {
    background-image: url(img/top-img.jpg);
    height: 56vmin;
    overflow: hidden;
    position: relative;
    margin-bottom: 10vmin;
}

.fan-photo .background {
    background-image: url(img/fan-photo.jpg);
    height: 41vmin;
    position: relative;
}

.top-section {
    height: 70vmin;
}

.family-photo {
    left: 50%;
    position: absolute;
}

.family-photo .background {
    background-image: url(img/PAL-41-of-41.jpg);
    -webkit-clip-path: circle(30% at 50% 50%);
    clip-path: circle(30% at 50% 50%);
    transform: scale(1.8);
    position: relative;
    width: 13vmax;
    height: 23.148vmin;
    left: -50%;
    z-index: 2;
    margin-top: 29vmin;
}

.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.overlay {
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.founded-by {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 50%;

}

.founded-by h2 {
    left: -50%;
    font-size: 2vmax;
    color: white;
    position: relative;
    top: 17%;
    text-align: center;
}

.banner-homepage h1 {
    font-family: 'DK-magical';
    left: -50%;
    position: relative;
    text-align: center;
    top: 15%;
    color: white;
}


.half-vmax {
    height: 41vmin;
    width: 100%;
    overflow: hidden;
}


.statement-homepage {
    width: 100%;
    height: 43vmin;
}

.statement-homepage h2 {
    margin-bottom: 0;
    padding-top: 2vmin;
}

.statement-homepage h2 {
    text-transform: uppercase;
    font-size: 1.46vmax;
}

.statement-homepage p {
    padding-top: 2vmin;
    font-size: 1.1vmax;

}

button {
    /*    width: 150px;*/
    width: 7.8125vmax;
    height: 4.6296296vmin;
    border-radius: 50px;
    background: yellow;
    font-weight: bold;
    float: right;
    margin-top: 5%;
    border: 0;
    position: relative;
    z-index: 1;
    font-size: 1vmax;
}


.banner-homepage ul {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    width: 100%;
}

.banner-homepage ul li {
    text-transform: uppercase;
    float: right;
    padding-right: 2.6041667vmax;
    padding-top: 1.8518519vmax;
    font-size: 0.8833333vmax;
    position: relative;
    display: inline-block;
}

.homepage-middle {
    height: 115vmin;
    position: relative;
}

.homepage-middle h2 {
    width: 80%;
    font-size: 1.56vmax;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.visit-store {
    overflow: hidden;
    position: relative;
}

.visit-store .wrapper {
    margin-top: 15vmin;
    position: relative;
    background-color: black;
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    -moz-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    -o-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0% 100%);
    height: 69vmin;
}

.visit-store .background {
    background-image: url(img/bwl-3.jpg);
    opacity: 0.6;
    position: absolute;
    height: 100%;
    bottom: 0;
}

.visit-store h2 {
    color: white !important;
    z-index: 1;
    position: absolute;
    font-size: 3.3vmax;
    width: 40%;
    text-align: left;
    line-height:3.5vmax;
    left: 5%;
    top: 50%;
}

.visit-store button {
    left: 5%;
    position: absolute;
    bottom:15%;
}

.upcoming-events {
    text-align: center;
    height: 35vmin;
    width: 100%;
}

.upcoming-events h1:nth-child(1) {
    color: #DFDFDF;
    font-size: 4.6vmax;
    width: 80%;
    margin: auto;
    text-align: center;
}

.upcoming-events h2 {
    position: relative;
    display: inline-block;
    margin-top: 5%;
    line-height: 2.7777vmin;
    font-size: 1.0416667vmax;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}
/*a comment*/
.upcoming-events .date {
    font-size: 3.1666vmax;
}


.events-wrapper {
    height: 79vmin;
    position: relative;
}
