@font-face {
    font-family: DK-magical;
    src: url('fonts/DK Magical Brush.otf');
}

@font-face {
    font-family: Bravest;
    src: url('fonts/BRAVEST FONT/Bravest.otf');
}


a {
    color: #141414
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.center {
    text-align: center
}


body {
    overflow-x: hidden;
    font-size: 17px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color: #141414;
    line-height: 29px;
	font-family: "proxima-nova";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    color: #141414;
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 0px;
}

h1 {
    font-size: 110px;
    line-height: 83px;
    margin-bottom: 25px;
    color: #fff;
	font-family: "vinyl";
	text-transform: uppercase
}

.head1 {
	font-family: "vinyl";
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 40px;
    color: #ddd
}

h2,
.head2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px;
    color: #141414;
	font-family: "vinyl";
	text-transform: uppercase
}

h3,
.head3 {
    font-size: 55px;
    line-height: 55px;
    text-transform: uppercase;
	font-family: "vinyl";
}

h4,
.head4 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 30px;
	font-family: "vinyl";
}

h5 {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 0px
}
.biggest {
	color: #ddd;
	text-align: center;
	font-size: 210px;
	line-height: 100px;
	opacity: .4
}
h2,
li {
	font-family: "vinyl";
}

ul li a {
    color: white;
}

ul li a:hover {
    color: white;
    text-decoration: none;
}

.container {
    width: 80vw !important;
    max-width: 1400px;
    position: relative;
}

.contain {
    width: 900px;
    margin: auto;
    text-align: center;
    position: relative;
}

.inner {
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;
}

.inner2 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pd {
    height: 110px
}

.rnp {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.rnp [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.cpr {
    padding-right: 10vw;
    padding-left: 90px
}
.cpl {
	padding-right: 90px;
	padding-left: 10vw
}
.round {
    position: absolute;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 100%;
}
.rounds {
	position: absolute;
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 100%;
}

.inline {
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 32vw;
    background: #000;
    height: 400px;
    /*    width:100%;*/
}

.flex-col {
    flex-grow: 1;
}

.round-container {
    display: block;
}

.round1 {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)
}
.round2 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%)
}

.round1height {
    height: 600px;
    margin-bottom: 75px
}

a {
    /*    width:100%;*/
    /*    width:33vw;*/
}

/*====HOME UPDATED====*/
.dots1 {
	background: #ffffff;
	background-image:
		radial-gradient(#e50a0a 20%, transparent 0),
		radial-gradient(#e50a0a 20%, transparent 0);
	background-size: 15px 15px;
	background-position: 0 0, 15px 15px;
	width: 35%;
	bottom: 10%;
	height: 190px;
	position: absolute;
	right: 0;
}
.dots2 {
	background: #ffffff;
	background-image:
		radial-gradient(#e50a0a 20%, transparent 0),
		radial-gradient(#e50a0a 20%, transparent 0);
	background-size: 15px 15px;
	background-position: 0 0, 15px 15px;
	height: 35%;
	bottom: 0;
	width: 190px;
	position: absolute;
	margin-bottom: -60px
}
.rel {
	position: relative
}
.background-cover {
	background: no-repeat center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.parallax {
	position: relative;
	background: transparent;
	overflow-y: hidden;
}
.bbg {
	background: #000
}
.p1 {
	height: 650px;
}
.p3 {
	height: 660px;
	width: 95%;
	margin-left: 5%
}
.p4 {
	height: 720px;
	width: 95%;
}
.parallax-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	opacity: .7
}

.s1 .parallax-bg {
	background-image: url('http://www.tsunamiwavesfoundation.org/wp-content/uploads/IMG_8935.jpg');
	background-position: center bottom;
	background-size: cover;
}
.s2 .parallax-bg {
	background-image: url('http://www.tsunamiwavesfoundation.org/wp-content/uploads/PAL-35-of-41.jpg');
	background-position: center center;
	background-size: cover;
}
.s3 .parallax-bg  {
	background-image: url('http://www.tsunamiwavesfoundation.org/wp-content/uploads/IMG_8526.jpg');
	background-position: center center;
	background-size: cover;
	opacity: 1;
}
.s4 .parallax-bg  {
	background-image: url('http://www.tsunamiwavesfoundation.org/wp-content/uploads/4F0A9343.jpg');
	background-position: center center;
	background-size: cover;
	opacity: 1
}
.s1 h3, .s2 h3, .s3 h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	color: #fff
}

/*
.bg {
	width: 100%;
	height: 90vh;
	overflow: hidden;
	box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.9);
	position: relative;
}


.s1{
	height: 650px;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100% !important;
}
.s1{
	background-image: url('img/Carlos-Mart%C3%ADnez.jpg');
}
.s2{
	height: 600px;
	background-image: url('img/red-hat-3.jpg') center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.s2{

}

.parallax-window {
	max-height: 600px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;
	height: 600px;
	transition: .4s ease-in-out
}
*/
/*
.parallax-window:hover {
	width: calc(100% - 40px);
	margin-left: 20px;
	height: 560px;
	margin-top: 20px
}
*/
/*
.parallax-static-content {
	color: #9A9A8A;
	padding: 8em 0;
	position: relative;
	z-index: 9;
}
.parallax-window h3 {
	position: absolute;
	left: 50%;
	color: #fff;
	top: 50%;
	transform: translate(-50%, -50%)
}
.pb {
	background: url(img/Carlos-Mart%C3%ADnez.jpg) repeat;
	background-size: cover;
	background-position: top;
	height: 120%;
	left: 0;
	position: absolute;
	top: -10%;
	width: 100%;
}
.pb2 {
	background: url(img/fan-photo.jpg) repeat;
	background-size: cover;
	background-position: top;
	height: 120%;
	left: 0;
	position: absolute;
	top: -10%;
	width: 100%;
}
*/

.slideshow {
	overflow: hidden;
	position: relative;
	z-index: 3;
	margin-top: -30px
}
.slideshow.screen-height {
	width: 100%;
	height: 100vh;
}
.slideshow .slideshow-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.slideshow .slides {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.slide {
	display: none;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	transition: opacity 0.3s ease;
	will-change: transform, opacity, width, right, left;
}
.slide.is-active {
	display: block;
}
.slide.is-loaded {
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
}
.slide .image-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	z-index: 1;
	background-size: cover;
	image-rendering: optimizeQuality;
	will-change: left, right;
}
.slide .image-container:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 266px;
	content: "";
	transform: scale(-1);
}
.slide .image {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 105%;
	min-height: 105%;
	width: 100%;
	height: 100%;
	z-index: -100;
	transform: translateX(-50%) translateY(-50%);
	transition: 2s filter linear;
	object-fit: cover
}
.slide .image.is-blur {
	filter: url(#blur);
	filter: blur(5px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
}
.slide .image.is-loading {
	display: block;
	width: 100%;
	height: 100%;
}
.slide__slide-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	will-change: width, left, right;
}
.slide__slide-content h2 {
	display: inline-block;
	color: #fff;
	font-family: "vinyl";
	font-size: 60px;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: 0;
	overflow: hidden;
	position: relative;
	padding: 0 5%;
	mix-blend-mode: lighten;
	will-change: transform, opacity;
	line-height: 60px
}
.slidebutton {
	position: absolute;
	width: 160px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 16px;
	height: 45px;
	padding: 0px;
	margin-top: 40px;
	bottom: 40px
}

.counter {
	position: absolute;
	bottom: 30%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	color: white;
}
.counter__nbr {
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
	font-size: 13px;
	font-size: 13px;
	font-weight: 400;
	line-height: 3.2307692308;
	color: white;
}
.counter__nbr.counter__nbr--yellow {
	color: #fed208;
}

.view-events, .skip-intro {
	z-index: 2;
	position: absolute;
	bottom: 120px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	font-size: 19px;
	line-height: 1.3846153846;
	text-transform: uppercase;
	backface-visibility: hidden;
	opacity: 1;
	visibility: visible;
	letter-spacing: 0.2rem;
	will-change: opacity, visibility;
}
.view-events.is-hidden, .skip-intro.is-hidden {
	opacity: 0;
	visibility: hidden;
}
.view-events span, .skip-intro span {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 10px;
}
.view-events span:before, .skip-intro span:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(239, 239, 239, 0.2);
	right: 0;
	transform: translateX(-101%);
	top: 0;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	will-change: transform;
}
.view-events__line, .skip-intro__line {
	position: absolute;
	left: 50%;
	content: "";
	top: calc(100% + 10px);
	width: 2px;
	height: 30px;
	will-change: transform;
	overflow: hidden;
}
.view-events__line i, .skip-intro__line i {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(-101%);
	background-color: #fed208;
}
.view-events:hover span:before, .skip-intro:hover span:before {
	transform: translateX(0);
}

.arrows .arrow {
	margin: -33px 0 0;
	position: absolute;
	top: 50%;
	cursor: pointer;
	z-index: 3;
	width: 75px;
	height: 75px;
	border: 1px solid #e50a0a;
	border-radius: 50%;
	background: #e50a0a
}
.arrows .arrow:before {
	position: absolute;
	top: -7px;
	left: -7px;
	width: 67px;
	height: 67px;
	opacity: 0.3;
	content: "";
	border-radius: 50%;
}
.arrows .arrow__line {
	fill: none;
	stroke: white;
	stroke-width: 2;
	stroke-miterlimit: 10;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	position: absolute;
	will-change: transform, opacity, visibility;
}
.arrows .arrow .svg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 15px;
	height: 13px;
	fill: white;
}
.arrows .arrow .svg:before {
	position: absolute;
	height: 3px;
}
.arrows .arrow .svg svg {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: top;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	overflow: visible;
	will-change: transform;
}
.arrows .arrow .svg svg .arrow__line {
	opacity: 0;
	visibility: hidden;
}
.arrows .prev {
	left: 30px;
}
.arrows .prev svg {
	transform: translateX(2px);
}
.arrows .prev svg .arrow__line {
	transform: translateX(-50px);
}
.arrows .prev:hover .svg svg {
	transform: translateX(-2px);
}
.arrows .prev:hover .svg svg .arrow__line {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}
.arrows .next {
	right: 30px;
}
.arrows .next svg {
	transform: translateX(-2px);
}
.arrows .next svg .arrow__line {
	transform: translateX(50px);
}
.arrows .next:hover .svg svg {
	transform: translateX(2px);
}
.arrows .next:hover .svg svg .arrow__line {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.pages {
	position: absolute;
	top: 35px;
	left: 0;
	width: 100%;
	cursor: default;
	z-index: 2;
	text-align: center;
}
.pages ul {
	padding: 0;
	margin: 0;
}
.pages .page {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 0 10px;
}
.pages .page__link {
	position: relative;
	display: block;
	color: white;
	font-size: 12px;
	line-height: 1.5;
	padding: 5px 10px;
	overflow: hidden;
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	will-change: color;
	transform: translateZ(0);
	text-decoration: none;
}
.pages .page__link i {
	position: absolute;
	width: 100%;
	height: 18px;
	background-color: rgba(239, 239, 239, 0.2);
	right: 0;
	transform: translateX(-100%);
	top: 5px;
	will-change: transform;
}
.pages .page + .page {
	margin-left: -2px;
}
/*====MISSION UPDATED====*/
.mission2 {
	width: 100%;
	height: 660px;
	object-fit: cover;
	margin-top: 70px;
}
.mission1 {
	width: 450px;
	height: 450px;
	margin-top: 40px;
	border-radius: 100%;
	object-fit: cover;
	margin-left: 70px
}
.mission6 {
	width: 95%;

}
.mission3 {
	width: 95%;
	margin: auto;
	display: block
}
.mission4 {
	height: 250px;
	width: 400px;
	object-fit: cover;
	object-position: top
}
.mission5 {
	width: 95%;
	height: 650px;
	object-fit: cover;
	margin: auto;
	display: block
}
.stlic{
	width: 250px;
	float: right;
	margin-top: 90px;
	opacity: .2
}
.dric {
	position: absolute;
	bottom: 40px;
	width: 220px;
	right: 20%;
	opacity: .2
}
.fuzzl {
	font-family: "vinyl";
	color: #e50a0a;
	font-size: 90px;
	line-height: 80px;
	width: 500px
}
.fuzzr {
	font-family: "vinyl";
	color: #e50a0a;
	font-size: 80px;
	line-height: 70px;
	margin-top: 100px;
	margin-bottom: 60px
}
.missionstl {
	color: #fff;
	width: 95%;
	margin-left: 70px
}
.stl1 {
	margin-top: 70px
}
.stlbgred {
	position: absolute;
	width: 75%;
	background: #e50a0a;
	top: 300px;
	height: calc(100% - 250px)
}
button.right {
	float: right;
	overflow: hidden
}

/*====SPONSORS====*/
.sponsored {
	width: 200px;
	margin: auto;
	display: block;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}
.sbox {
	height: 210px
}

/*====MENU====*/
.logo {
	display: block;
	position: absolute;
	top: 10px;
	z-index: 5;
	width: 100px;
	left: 40px;
	transition: .2s;
	transition-delay: .3s
}
.fixedmenu {
	background: #e50a0a;
	width: 90px;
	height: 90px;
	position: fixed;
	z-index: 100;
	transition: .3s ease;
	transition-delay: .3s;
	right: 40px;
	top: 10px;
}

.fixedmenubg {
	background: #e50a0a;
	width: 0px;
	height: 90px;
	position: fixed;
	z-index: 80;
	transition: .3s ease;
	transition-delay: .3s;
	right: 40px;
	top: 10px;
	transition: .3s ease;
	text-align: center
}
.fixedmenubg.active {
	width: calc(100% - 80px)
}
.fixedmenubg li {
	list-style: none;
	display: inline-block;
	line-height: 90px;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0px 15px;
	opacity: 0;
}
.fixedmenubg.active li {
	opacity: 1;
	transition: .3s ease;
	transition-delay: .4s
}
.fixedmenubg li a {
	color: #fff
}
.main-menu.active {
	opacity: 0;
	transition: .2s
}
.logo.active {
	opacity: 0;
	transition: .2s
}
.hamburger {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 90px;
}
.hamburger .line{
	width: 50px;
	height: 5px;
	background-color: #ecf0f1;
	display: block;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#hamburger-9 .line:nth-child(1){
	margin-top: 0px
}
.hamburger:hover{
	cursor: pointer;
}
#hamburger-9{
	position: relative;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#hamburger-9.is-active{
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: -15px
}

#hamburger-9:before{
	content: "";
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 70px;
	height: 70px;
	border: 5px solid transparent;
	top: calc(50% - 35px);
	left: calc(50% - 35px);
	border-radius: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#hamburger-9.is-active:before{
	border: 5px solid #ecf0f1;
}

#hamburger-9.is-active .line{
	width: 35px;
}

#hamburger-9.is-active .line:nth-child(2){
	opacity: 0;
}

#hamburger-9.is-active .line:nth-child(1){
	-webkit-transform: translateY(13px);
	-ms-transform: translateY(13px);
	-o-transform: translateY(13px);
	transform: translateY(13px);
}

#hamburger-9.is-active .line:nth-child(3){
	-webkit-transform: translateY(-13px) rotate(90deg);
	-ms-transform: translateY(-13px) rotate(90deg);
	-o-transform: translateY(-13px) rotate(90deg);
	transform: translateY(-13px) rotate(90deg);
}



.main-menu {
    position: absolute;
    z-index: 70;
    width: 100%;
	transition: .2s;
	transition-delay: .3s
}

.main-menu ul {
    position: absolute;
    height: 90px;
	top: 0px;
	left: 50%;
	transform: translateX(-50%)
}

.main-menu li {
    list-style: none;
    display: inline-block;
    color: #fff;
    line-height: 100px;
    margin-left: 25px;
    font-size: 21px;
	text-transform: uppercase
}

/*====HOMEPAGE====*/

.banner-homepage {
    background-image: url(img/top-img.jpg);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.banner-missionpage {
    background-image: url(img/bwl-3.jpg);
    background-position: top !important;
    width: 100%;
    height: 74vh;
    overflow: hidden;
    position: relative;

}

.fan-photo .background {
    width: 100%;
    background-image: url(img/fan-photo.jpg);
    height: 600px;
    position: relative;
}

.fader {
    z-index: 9;
}

.top-section {
    height: 80vh;
    position: relative
}

.family-photo {
    left: 50%;
    position: absolute;
}

.family-photo .background {
    background-image: url(img/PAL-41-of-41.jpg);
    border-radius: 100%;
    position: relative;
    left: -50%;
    height: 350px;
    width: 350px;
    z-index: 2;
    margin-top: 27vh;
}

.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.founded-by {
    position: absolute;
    bottom: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center
}

.founded-by h2 {
    color: #fff
}

.banner-homepage h1 {
	font-family: "vinyl";
    position: relative;
    text-align: center;
    top: 15%;
    width: 100%;
    font-size: 110px;
    color: white;
}


.half-vw {
    height: 41vh;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}


.statement-homepage {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    height: 43vh;
}

.statement-homepage h2,
.statement-homepage p {
    margin-bottom: 0;
    padding-top: 3vh;
}

.statement-homepage h2 {
    text-transform: uppercase;
    font-size: 30px
}

.statement-homepage p {}

button {
    height: 50px;
    border-radius: 50px;
    background: red;
    font-weight: bold;
    margin-top: 5%;
    border: 0;
    position: relative;
    z-index: 1;
    padding: 10px 25px;
	color: #fff
}



.anchor .skew {
    width: 100%;
    position: relative;
    transform: skewY(-2deg);
    -webkit-transition: -webkit-transform .5s;
    -ms-transition: -ms-transform .5s;
    transition: transform .5s;
    overflow: visible;
}

.anchor .cround {
    -webkit-transition: -webkit-transform .4s;
    -ms-transition: -ms-transform .4s;
    transition: transform .4s;

}

.events-two .wrapper {
    width: 100%;
    position: relative;
    overflow: visible;

}

.anchor .wrapper * {
    z-index: 1;
}

.skew img {
    position: relative;
    object-fit: cover;
    object-position: top;
    /*    width: 100%;*/
    /*    height: 100%;*/
    object-fit: cover;
    opacity: .8
}

.flex-col {
    z-index: 0;
    width: 33.333333%;
    padding-left: 15px;
    padding-right: 15px;
}


.hp_btm_right {
    width: 100%;
    height: 700px;
    object-fit: cover
}



.col-sm-6 {
    /*    display:inline-block;*/
}

.page-transition {
    width: 100vw !important;
    height: 800px !important;
    position: relative;
    top: 0;
    left: 0;
}

.increase {
    transform: scale(5);
}

.upcoming-events {
    text-align: center;
    height: 85vh;
    width: 100%;
}

.upcoming-events h1:nth-child(1) {
    color: #DFDFDF;
    font-size: 90px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.upcoming-events h2 {
    position: relative;
    display: inline-block;
    margin-top: 5%;
    line-height: 30px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.datebox {
    border-right: 2px solid #eee;
    height: 120px;
    border-bottom: 2px solid #eee;
    padding-top: 20px
}

.eventbox {
    height: 120px;
    border-bottom: 2px solid #eee;
    font-weight: 600;
    font-size: 29px;
    position: relative;
    width: 100%;
    text-align: center
}

.eventname {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%)
}

.eventname h4 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0px;
    color: red
}

.eventname button {
    font-size: 14px;
    font-weight: 600;
    float: right
}

.eventname span {
    font-size: 14px;
}

.eventbox svg {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(40deg);
    fill: #bbb
}

.upcoming-events .date {
    font-size: 70px;
    line-height: 60px;
    color: #bbb;
    font-family: 'Hind', sans-serif;
    margin-bottom: 0px;
}

.date span {
    font-size: 15px;
    position: absolute;
    top: 20px;
    line-height: 20px;
    font-family: 'Hind', sans-serif;
    font-weight: 600
}

.month {
    color: #bbb;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px
}


.events-wrapper {
    height: 79vh;
    position: relative;
}



.center-content * {
    width: 40%;
    text-align: center;
    margin: auto;
}



/* The position is absolute, use "right: {number here}"
.mission-bottom .fan-photo img {
    position: absolute !important;
    bottom: -30%;
    margin-left: 30%;
}
*/

.round3 {
	position: absolute !important;
	bottom: -10px;
	right: 10px;
}

.events-header {
    color: #ddd;
}

.events-one {
    height: 50vh;
    padding-top: 15vh;
}

.events-one .row {
    margin-top: 5vh
}

.events-one h2 {
    color: red;
}

.events-one p {
    font-size: 20px;
}

.events-one h2,
.events-one p {
    width: 70%;
    margin: auto;
}

.events-one button {
    display: block;
    margin: auto;
}

.events-one img {
    width: 500px;
    height: 500px;
}

.events-one .col-sm-4 p {
    position: relative;
    text-align: center;
    bottom: -105%;
    width: 40%;
}

.circleclear {
	height: 200px
}

.item-one {
    position: relative;
    height: 90vh;
    margin-top: 20vh;
}

.item-one img {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.item-one .col-sm-6 * {
    /*    width:100%;*/
}

.item-one .grey-box {
    display: inline-block;
    background-color: rgba(231, 231, 231, 0.4);
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
}

.item-one p.grey-box {
    width: 60%;
    margin-top: auto !important;
}

.item-one h2.grey-box {
    font-size: 16px;
}



a {
    /*
    position:absolute;
    height:100%;
    width:100%;
    z-index:10;
*/
}

ul {
    padding: 0 0 0 0px
}

/*
*  Owl Carousel - Animate Plugin
*/

.esb {
    position: absolute;
    width: 500px;
}

.event-slider {
    position: relative;
    background: #f3f3f3;
    margin-bottom: 80px
}

.sliderplaceholder img {
    width: 100%;
    margin-bottom: -80px;
    height: 700px;
    object-fit: cover
}

/*====EVENTS====*/

.event_content {
    position: relative;
    height: 100vh;
}

.event-title-bg {
    position: relative;
    height: 70vh;
    background: #252834
}

img {
    /*    transition: .3s;*/
}

.event_content h3 {
    font-family: 'Hind', sans-serif;
    text-transform: none;
    font-weight: 600;
    font-size: 24px;
}

.event-img {
    transition: .3s;
    position: absolute;
    width: 600px;
    height: 600px;
    bottom: 0;
    z-index: 5;
    border-radius: 100%;
    right: 10%;
    object-fit: cover
}

.event-title h1 {
    font-family: 'Bravest';
    font-size: 60px;
    line-height: 60px
}

.event-title h4 {
    color: #fff
}

.event-title {
    position: absolute;
    width: 40%;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 80px;
    color: #fff;
    font-size: 20px;
}

/*====FOOTER====*/

footer {
    background: black
}

footer li {
    list-style: none;
    margin-bottom: 16px;
	text-transform: uppercase;
	font-size: 21px
}

footer li a {
    color: #fff
}

footer img {
    width: 140px;
    float: right;
    overflow: hidden
}

.copyright {
    color: #fff;
    margin: 80px 0px 0px;
    line-height: 36px
}

.copyright a {
    color: #bbb;
    text-transform: uppercase
}

.cround {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /*
    -webkit-transition: -webkit-transform .4s;
    -ms-transition: -ms-transform .4s;
    transition: transform .4s;
*/
    /*    bottom:0;*/
    border-radius: 100%;
    width: 350px;
    height: 350px;
    display: block;
    object-fit: cover;
}

/*====DIVIDERS====*/

.divide10 {
    width: 100%;
    height: 10px;
}

.divide15 {
    width: 100%;
    height: 15px;
}

.divide20 {
    width: 100%;
    height: 20px;
}

.divide25 {
    width: 100%;
    height: 25px;
}

.divide30 {
    width: 100%;
    height: 30px;
}

.divide35 {
    width: 100%;
    height: 35px;
}

.divide40 {
    width: 100%;
    height: 40px;
}

.divide45 {
    width: 100%;
    height: 40px;
}

.divide50 {
    width: 100%;
    height: 50px;
}

.divide55 {
    width: 100%;
    height: 55px;
}

.divide60 {
    width: 100%;
    height: 60px;
}

.divide65 {
    width: 100%;
    height: 65px;
}

.divide70 {
    width: 100%;
    height: 70px;
}

.divide75 {
    width: 100%;
    height: 75px;
}

.divide80 {
    width: 100%;
    height: 80px;
}

.divide85 {
    width: 100%;
    height: 85px;
}

.divide90 {
    width: 100%;
    height: 90px;
}

.divide100 {
    width: 100%;
    height: 100px;
}

.flex-row {
    display: flex;
    -webkit-transition: -webkit-transform .5s;
    -ms-transition: -ms-transform .5s;
    transition: transform .5s;
}

.flex-col {
    z-index: 2;
    width: 33.333333%;
    padding-left: 15px;
    padding-right: 15px;
}

.anchor {
    position: relative;
}

.skew {
    width: 100%;
    position: relative;
    transform: skewY(-2deg);
    -webkit-transition: -webkit-transform .5s;
    -ms-transition: -ms-transform .5s;
    transition: transform .5s;
    overflow: visible;
}

.anchor .wrapper * {
    z-index: 1;
}

.anchor .skew img {
    position: relative;
    object-fit: cover;
    object-position: top;
    z-index: 1;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    opacity: .8
}

.slanted {
    position: relative;
    z-index: 0;
    width: 32vw;
    background: #000;
    height: 550px;
}

.slanted .background {
    width: 33.333333333%;
    height: 100%;
    position: relative;
    background-image: url(img/Baseball-Photo.jpg);
    z-index: 0;
    opacity: .8;

}

.slanted h2 {
    color: #fff;
    left: 20px;
    margin-bottom: 0px;
    transform: skewY(2deg);
}

.img-container {
    position: relative;
}

.slanted button {
    transform: skewY(2deg);
}

/*index*/

.slantedin {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

/*events*/

.events-two img {
    /*    left:50%;*/
    /*
    left:50%;
    transform: translateX(-50%);
*/
}

.events-two .flex-row {}

.events-two h4 {
    position: absolute;
    top: 20%;
    width: 100%;
}

.events-two .col-sm-4 h4 {
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 4vh;
    text-align: center;
    color: red;
}
