@font-face {
    font-family: DK-magical;
    src: url('fonts/DK Magical Brush.otf');
}

@font-face {
    font-family: Bravest;
    src: url('fonts/BRAVEST FONT/Bravest.otf');
}

.banner-homepage:nth-child(1) {
    background-image: url(img/top-img.jpg);
    background-position: center top;
    background-repeat: no-repeat !important;
    background-clip: border-box;
    width: 100%;
    height: 78vh;
    background-size: contain;
}

.banner-homepage {
    height: 620px;
    overflow: hidden;
    margin-bottom: 100px;
}
.founded-by {
    position:absolute;
    width:100%;
    left: 50%;

}
.founded-by h2 {
    left:-50%;
    color: black;
    position: relative;
    width: 20%;
    text-align:center;
    font-family: 'Bravest';
}

.banner-homepage h1 {
    font-family: 'DK-magical';
}

.container {
    width: 63vw !important;
}

.half-vw {
    height: 41vh;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.half-vw div {
    width: 100%;
    background-image: url(img/fan-photo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    height: 41vh;
    position: relative;
    float: left;
}

.statement-homepage {
    width: 100%;
    height: 43vh;
}

.statement-homepage h2,
.statement-homepage p {
    margin-bottom: 0;
    padding-top: 3vh;
}

.statement-homepage h2 {
    font-family: 'Bravest';
    text-transform: uppercase;
    font-size: 36px
}

.statement-homepage p {}

.statement-homepage button {
    width: 25%;
    height: 10%;
    border-radius: 20px;
    background: yellow;
    font-weight: bold;
    float: right;
    margin-top: 5%;
    border: 0;
}

.family-photo div {
    background-image: url(img/PAL-41-of-41.jpg);
    border-radius: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: -50%;
    height: 250px;
    width: 250px;
    z-index: 2;
    margin-top: 120%;
}

.family-photo {
    left: 50%;
    height: 41vh;
    position: absolute;
}

.banner-homepage ul {
    float: right;
    color: white;
    right: 0;
    width: 50%;
}

.banner-homepage ul li {
    text-transform: uppercase;
    float: right;
    padding-right: 50px;
    padding-top: 20px;
    position: relative;
    display: inline-block;
    font-family: 'Bravest';
}
