@font-face {
    font-family: DK-magical;
    src: url('fonts/DK Magical Brush.otf');
}

@font-face {
    font-family: Bravest;
    src: url('fonts/BRAVEST FONT/Bravest.otf');
}

h1 {
    font-family: 'DK-magical';
    font-size: 110px;
}

a {
    color: #141414
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.center {
    text-align: center
}


body {
    overflow-x: hidden;
    font-size: 17px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color: #141414;
    line-height: 29px;
    font-family: 'Hind', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    color: #141414;
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: 0px;
}

h1 {
    font-size: 110px;
    line-height: 83px;
    margin-bottom: 25px;
    color: #fff;
    font-family: 'DK-magical';
}

.head1 {
    font-family: 'DK-magical';
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 40px;
    color: #ddd
}

h2,
.head2 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px;
    color: #141414;
    font-family: 'Bravest';
}

h3,
.head3 {
    font-size: 35px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'Bravest';
}

h4,
.head4 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 30px;
    font-family: 'Bravest';
}

h5 {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 0px
}

h2,
li {
    font-family: 'Bravest';
}

ul li a {
    color: white;
}

ul li a:hover {
    color: white;
    text-decoration: none;
}

.container {
    width: 80vw !important;
    max-width: 1400px;
    position: relative;
}

.contain {
    width: 900px;
    margin: auto;
    text-align: center;
    position: relative;
}

.inner {
    padding-top: 140px;
    padding-bottom: 140px;
    position: relative;
}

.inner2 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pd {
    height: 110px
}

.rnp {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.rnp [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.cpr {
    padding-right: 10vw;
    padding-left: 90px
}

.round {
    position: absolute;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 100%;
}


.inline {
    display: inline-block;
    position: relative;
    z-index: 0;
    width: 32vw;
    background: #000;
    height: 400px;
    /*    width:100%;*/
}

.round-container img {
    display: block;
    -webkit-transition: -webkit-transform .5s;
    -ms-transition: -ms-transform .5s;
    transition: transform .5s;
    z-index: 5;
    border-radius: 100%;
    margin: auto;
    overflow: hidden;
    height: 350px;
    width: 350px;
}

.flex-col {
    flex-grow: 1;
}

.round-container {
    display: block;
}

.round1 {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%)
}

.round1height {
    height: 600px;
    margin-bottom: 75px
}

a {
    /*    width:100%;*/
    /*    width:33vw;*/
}

/*====MENU====*/

.main-menu {
    position: absolute;
    z-index: 100;
    width: 100%;

}

.main-menu ul {
    position: absolute;
    right: 10%;
    height: 70px
}

.main-menu li {
    list-style: none;
    display: inline-block;
    color: #fff;
    line-height: 70px;
    margin-left: 25px;
    font-size: 14px
}

/*====HOMEPAGE====*/

.banner-homepage {
    background-image: url(img/top-img.jpg);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.banner-missionpage {
    background-image: url(img/bwl-3.jpg);
    background-position: top !important;
    width: 100%;
    height: 74vh;
    overflow: hidden;
    position: relative;

}

.fan-photo .background {
    width: 100%;
    background-image: url(img/fan-photo.jpg);
    height: 600px;
    position: relative;
}

.fader {
}

.top-section {
    height: 80vh;
    position: relative
}

.family-photo {
    left: 50%;
    position: absolute;
}

.family-photo .background {
    background-image: url(img/PAL-41-of-41.jpg);
    border-radius: 100%;
    position: relative;
    left: -50%;
    height: 350px;
    width: 350px;
    z-index: 2;
    margin-top: 27vh;
}

.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.founded-by {
    position: absolute;
    bottom: 300px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center
}

.founded-by h2 {
    color: #fff
}

.banner-homepage h1 {
    font-family: 'DK-magical';
    position: relative;
    text-align: center;
    top: 15%;
    width: 100%;
    font-size: 110px;
    color: white;
}


.half-vw {
    height: 41vh;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}


.statement-homepage {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    height: 43vh;
}

.statement-homepage h2,
.statement-homepage p {
    margin-bottom: 0;
    padding-top: 3vh;
}

.statement-homepage h2 {
    text-transform: uppercase;
    font-size: 30px
}

.statement-homepage p {}

button {
    height: 50px;
    border-radius: 50px;
    background: yellow;
    font-weight: bold;
    margin-top: 5%;
    border: 0;
    position: relative;
    z-index: 1;
    padding: 10px 25px
}


.banner-homepage ul {
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    width: 50%;
}

.banner-homepage ul li {
    text-transform: uppercase;
    float: right;
    padding-right: 50px;
    padding-top: 20px;
    position: relative;
    display: inline-block;
}

.homepage-middle {
    width: 100%;
    height: 115vh;
    position: relative;
}

.homepage-middle h2 {
    width: 80%;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.anchor .skew {
    width: 100%;
    position: relative;
    transform: skewY(-2deg);
    -webkit-transition: -webkit-transform .5s;
    -ms-transition: -ms-transform .5s;
    transition: transform .5s;
    overflow: visible;
}

.anchor .cround {
    -webkit-transition: -webkit-transform .4s;
    -ms-transition: -ms-transform .4s;
    transition: transform .4s;

}

.events-two .wrapper {
    width: 100%;
    position: relative;
    overflow: visible;

}

.anchor .wrapper * {
    z-index: 1;
}

.skew img {
    position: relative;
    object-fit: cover;
    object-position: top;
    /*    width: 100%;*/
    /*    height: 100%;*/
    object-fit: cover;
    opacity: .8
}

.flex-col {
    z-index: 0;
    width: 33.333333%;
    padding-left: 15px;
    padding-right: 15px;
}

.slanted {
    position: relative;
    z-index: 0;
    width: 32vw;
    background: #000;
    height: 550px;
}

.slanted .background {
    width: 33.333333333%;
    height: 100%;
    position: relative;
    background-image: url(img/Baseball-Photo.jpg);
    z-index: 0;
    opacity: .8;

}

.slanted h2 {
    color: #fff;
    left: 20px;
    margin-bottom: 0px;
    transform: skewY(2deg);
}

.slanted button {
    transform: skewY(2deg);
}

.hp_btm_right {
    width: 100%;
    height: 700px;
    object-fit: cover
}




.full-slant {
    -webkit-clip-path: polygon(0 26%, 100% 10%, 100% 74%, 0 90%);
    clip-path: polygon(0 26%, 100% 10%, 100% 74%, 0 90%);
    width: 100%;
    overflow: hidden;
    height: 90vh;
}

.full-slant img {
    width: 100%;
    object-position: center;
    position: absolute;
}

.full-slant p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    right: 5%;
    z-index: 5;
    color: white;
    font-size: 25px;
    font-family: 'Hind';
}

.col-sm-6 {
    /*    display:inline-block;*/
}

.page-transition {
    width: 100vw !important;
    height: 800px !important;
    position: relative;
    top: 0;
    left: 0;
}

.increase {
    transform: scale(5);
}

.upcoming-events {
    text-align: center;
    height: 85vh;
    width: 100%;
}

.upcoming-events h1:nth-child(1) {
    color: #DFDFDF;
    font-size: 90px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.upcoming-events h2 {
    position: relative;
    display: inline-block;
    margin-top: 5%;
    line-height: 30px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.datebox {
    border-right: 2px solid #eee;
    height: 120px;
    border-bottom: 2px solid #eee;
    padding-top: 20px
}

.eventbox {
    height: 120px;
    border-bottom: 2px solid #eee;
    font-weight: 600;
    font-size: 29px;
    position: relative;
    width: 100%;
    text-align: center
}

.eventname {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%)
}

.eventname h4 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0px;
    color: red
}

.eventname button {
    font-size: 14px;
    font-weight: 600;
    float: right
}

.eventname span {
    font-size: 14px;
}

.eventbox svg {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(40deg);
    fill: #bbb
}

.upcoming-events .date {
    font-size: 70px;
    line-height: 60px;
    color: #bbb;
    font-family: 'Hind', sans-serif;
    margin-bottom: 0px;
}

.date span {
    font-size: 15px;
    position: absolute;
    top: 20px;
    line-height: 20px;
    font-family: 'Hind', sans-serif;
    font-weight: 600
}

.month {
    color: #bbb;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px
}


.events-wrapper {
    height: 79vh;
    position: relative;
}



.center-content * {
    width: 40%;
    text-align: center;
    margin: auto;
}

.mission-bottom .col-sm-12 img {
    /*    position:absolute;*/
    position: absolute;
    z-index: 3;
    top: -150px;
}

.mission-bottom p,
.mission-bottom h2 {
    position: relative;
    top: 40%;
    width: 90%;
    margin: auto;
}

.mission-bottom h2 {
    margin-bottom: 3%
}

.mission-bottom .half-vw {
    /*
    height:100vh;
    margin-left:5%;
*/
}

.mission-bottom .fan-photo img {
    position: absolute !important;
    bottom: -30%;
    margin-left: 30%;
}

.events-header {
    color: #ddd;
}

.events-one {
    height: 50vh;
    padding-top: 15vh;
}

.events-one .row {
    margin-top: 5vh
}

.events-one h2 {
    color: red;
}

.events-one p {
    font-size: 20px;
}

.events-one h2,
.events-one p {
    width: 70%;
    margin: auto;
}

.events-one button {
    display: block;
    margin: auto;
}

.events-one img {
    width: 500px;
    height: 500px;
}

.events-one .col-sm-4 p {
    position: relative;
    text-align: center;
    bottom: -105%;
    width: 40%;
}



.item-one {
    position: relative;
    height: 90vh;
    margin-top: 20vh;
}

.item-one img {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.item-one .col-sm-6 * {
    /*    width:100%;*/
}

.item-one .grey-box {
    display: inline-block;
    background-color: rgba(231, 231, 231, 0.4);
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
}

.item-one p.grey-box {
    width: 60%;
    margin-top: auto !important;
}

.item-one h2.grey-box {
    font-size: 16px;
}

.logo {
    display: block;
    position: absolute;
    top: 10px;
    z-index: 5;
    width: 110px;
    left: 50%;
    transform: translateX(-50%)
}

a {
    /*
    position:absolute;
    height:100%;
    width:100%;
    z-index:10;
*/
}

ul {
    padding: 0 0 0 0px
}

/*
*  Owl Carousel - Animate Plugin
*/

.esb {
    position: absolute;
    width: 500px;
}

.event-slider {
    position: relative;
    background: #f3f3f3;
    margin-bottom: 80px
}

.sliderplaceholder img {
    width: 100%;
    margin-bottom: -80px;
    height: 700px;
    object-fit: cover
}

/*====EVENTS====*/

.event_content {
    position: relative;
    height: 100vh;
}

.event-title-bg {
    position: relative;
    height: 70vh;
    background: #252834
}

img {
    /*    transition: .3s;*/
}

.event_content h3 {
    font-family: 'Hind', sans-serif;
    text-transform: none;
    font-weight: 600;
    font-size: 24px;
}

.event-img {
    transition: .3s;
    position: absolute;
    width: 600px;
    height: 600px;
    bottom: 0;
    z-index: 5;
    border-radius: 100%;
    right: 10%;
    object-fit: cover
}

.event-title h1 {
    font-family: 'Bravest';
    font-size: 60px;
    line-height: 60px
}

.event-title h4 {
    color: #fff
}

.event-title {
    position: absolute;
    width: 40%;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 80px;
    color: #fff;
    font-size: 20px;
}

/*====FOOTER====*/

footer {
    background: black
}

footer li {
    list-style: none;
    margin-bottom: 15px
}

footer li a {
    color: #fff
}

footer img {
    width: 140px;
    float: right;
    overflow: hidden
}

.copyright {
    color: #fff;
    margin: 80px 0px 0px;
    line-height: 36px
}

.copyright a {
    color: #bbb;
    text-transform: uppercase
}

.cround {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /*
    -webkit-transition: -webkit-transform .4s;
    -ms-transition: -ms-transform .4s;
    transition: transform .4s;
*/
    /*    bottom:0;*/
    border-radius: 100%;
    width: 350px;
    height: 350px;
    display: block;
    object-fit: cover;
}

/*====DIVIDERS====*/

.divide10 {
    width: 100%;
    height: 10px;
}

.divide15 {
    width: 100%;
    height: 15px;
}

.divide20 {
    width: 100%;
    height: 20px;
}

.divide25 {
    width: 100%;
    height: 25px;
}

.divide30 {
    width: 100%;
    height: 30px;
}

.divide35 {
    width: 100%;
    height: 35px;
}

.divide40 {
    width: 100%;
    height: 40px;
}

.divide45 {
    width: 100%;
    height: 40px;
}

.divide50 {
    width: 100%;
    height: 50px;
}

.divide55 {
    width: 100%;
    height: 55px;
}

.divide60 {
    width: 100%;
    height: 60px;
}

.divide65 {
    width: 100%;
    height: 65px;
}

.divide70 {
    width: 100%;
    height: 70px;
}

.divide75 {
    width: 100%;
    height: 75px;
}

.divide80 {
    width: 100%;
    height: 80px;
}

.divide85 {
    width: 100%;
    height: 85px;
}

.divide90 {
    width: 100%;
    height: 90px;
}

.divide100 {
    width: 100%;
    height: 100px;
}

.flex-row {
    display: flex;
    -webkit-transition: -webkit-transform .5s;
    -ms-transition: -ms-transform .5s;
    transition: transform .5s;
}

.flex-col {
    z-index: 2;
    width: 33.333333%;
    padding-left: 15px;
    padding-right: 15px;
}

.anchor {
    position: relative;
}

.skew {
    width: 100%;
    position: relative;
    transform: skewY(-2deg);
    -webkit-transition: -webkit-transform .5s;
    -ms-transition: -ms-transform .5s;
    transition: transform .5s;
    overflow: visible;
}

.anchor .wrapper * {
    z-index: 1;
}

.anchor .skew img {
    position: relative;
    object-fit: cover;
    object-position: top;
    z-index: 1;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    opacity: .8
}

.slanted {
    position: relative;
    z-index: 0;
    width: 32vw;
    background: #000;
    height: 400px;
}

.slanted .background {
    width: 33.333333333%;
    height: 100%;
    position: relative;
    background-image: url(img/Baseball-Photo.jpg);
    z-index: 0;
    opacity: .8;

}

.slanted h2 {
    color: #fff;
    left: 20px;
    margin-bottom: 0px;
    transform: skewY(2deg);
}

.img-container {
    position: relative;
}

.slanted button {
    transform: skewY(2deg);
}

/*index*/

.slantedin {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

/*events*/

.events-two img {
    /*    left:50%;*/
    /*
    left:50%;
    transform: translateX(-50%);
*/
}

.events-two .flex-row {}

.events-two h4 {
    position: absolute;
    top: 20%;
    width: 100%;
}

.events-two .col-sm-4 h4 {
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 4vh;
    text-align: center;
    color: red;
}
